*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);    
}

header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background-color: rgba(37, 37, 37, 0.993);
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

header .container_buscador{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.container_buscador a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
  }
  
  .search-button {
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 4px;
    border-radius: 0 3px 5px 0;
    cursor: pointer;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    display: block;
    filter:invert(100%)
  }
  

/* -------------------------------------------------- */


.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color:  rgba(37, 37, 37, 0.993);
}

.carousel-category {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-category h2 {
  text-align: center;
  color: red;
}

.card-container {
  display: flex;
  gap: 20px;
  overflow-x: hidden; 
  padding: 10px;
  justify-content: flex-start;
}

.card {
  border-radius: 10px;
  width: 200px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}

/* ---------------------------------------------- */



.serie-details {
  width: 400px; 
  padding: 10px;
  background-color: rgba(54, 54, 54, 0.993);
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(10px);
}

.serie-details .serie-title{
  color: #fff;
}

.serie-details .serie-description{
  color: #fff;
}

/* responsive */

@media (max-width: 480px) {
  header {
    text-align: center;
    flex-direction: column;
  }
  
  .card-container{
    gap: 0;
  }
  .carousel-category{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .card img {
    width: 100%;
    height: 100%;
  }

  .card {
    width: calc(50% - 20px);
    margin: 10px;
    
  }

  .carousel-category h2 {
    font-size: 24px;
    margin: 10px;
  }

  .serie-details .serie-title {
    font-size: 20px;
    margin: 5px;
  }

  .serie-details .serie-description {
    font-size: 16px;
    margin: 5px;
  }
}


@media (max-width: 768px) {
  header{
    flex-direction: column;
  }

  .card {
    width: calc(33.33% - 20px);
  }
}


@media (max-width: 1024px) {
  .carousel-category h2 {
    font-size: 28px;
    margin: 15px;
  }

  .serie-details .serie-title {
    font-size: 24px;
    margin: 10px;
  }

  .serie-details .serie-description {
    font-size: 18px;
    margin: 10px;
  }
}


@media (max-width: 1200px) {
  .carousel-category h2 {
    font-size: 32px;
    margin: 20px;
  }

  .serie-details .serie-title {
    font-size: 28px;
    margin: 15px;
  }

  .serie-details .serie-description {
    font-size: 20px;
    margin: 15px;
  }
}